﻿
@model Testanc.Models.Competitor
@{
    Layout = null;
}



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>CompetitorInfo</title>
</head>
<body>
    <div>
        <form asp-action="CompetitorInfo" method="post">
            
            <p>
                <label asp-for="Name">Name:</label>
                <input asp-for="Name" />
            </p>
            <p>
                <label asp-for="Age">Age:</label>
                <input asp-for="Age" />

            </p>
            <p>
                <label asp-for="Level">Competitor Level:</label>
                <input asp-for="Level" />
            </p>
            <p>
                <label asp-for="Nationality">Nationality:</label>
                <input asp-for="Nationality" />
            </p>
            <button type="submit">Add</button>
        </form>
    </div>
</body>
</html>

