﻿
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>MyFirstView</title>
</head>
<body>
    My First View !!!!!
    <div>
        @ViewBag.WelcomeMessage<br/>
        My Frist View is Working!!<br/>
        <a asp-action="CompetitorInfo">
            Click here to see info on the Competitors
        </a>
    </div>
</body>
</html>

